<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Temperature Log</title>
		<style>
			div{
				margin-top:150px
				}
			h1{
				margin-top:100px
				}
		</style>
		
	</head>
	<body style="background-color:powderblue;">
		<h1 style="text-align:center;font-size:50px;">TEMPERATURE TRACKER</h1>
		<div>
			<form align="center" action="/login/dashboard/c/temperature" method="POST">
				Username: <input type="text" id="username" name="username" required/> <br><br> 
    			Tracker no: <input type="text" id="trackerno" name="trackerno" required/> <br><br>
				Value: <input type="text" id="val" name="val" required/> <br><br>
				Note: <input type="text" id="note" name="note" required/> <br><br>
    				<input type="submit" value="CREATE"/><br><br>
				<a href="/login/dashboard">DASHBOARD</a><br><br>
				<a href="/login/dashboard/c">CREATE LIST</a><br><br>
				<a href="/login">LOGOUT</a>
			</form>
			
		</div>
	</body>
</html>